<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="951546807662-drv32gvkt7k6et6os9b1fm0sn0dtq7bt.apps.googleusercontent.com">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


    <title>Home Page - sawan.io</title>
  </head>
  <body>
    <div id="app-root">Something awesome is coming...</div>

    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
