@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/style.747d73ed758060071db8.css?87d4e7e6fe12854e3dfe">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/vendor.71b3b645b62e3a4154f0.js?87d4e7e6fe12854e3dfe"></script>
    <script src="~/main.06980b989fd406349739.js?87d4e7e6fe12854e3dfe"></script>
}
