@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.09a93b3f826def17b700.css?f21dd0e91db3ec58d835">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.71b3b645b62e3a4154f0.js?f21dd0e91db3ec58d835"></script>
    <script src="~/dist/main.7cda84a9d97885820c65.js?f21dd0e91db3ec58d835"></script>
}
