@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.4e1316f1ece1b28ebb59.css?7f9e1ae6c57aff3738d7">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.584d115ceaf2f0e28503.js?7f9e1ae6c57aff3738d7"></script>
    <script src="~/dist/main.1233d3a3ec6e642b19fe.js?7f9e1ae6c57aff3738d7"></script>
}
