@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/style.1951dbbf5b9cac677bdf.css?cc1a0785170cac8d3c98">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/vendor.71b3b645b62e3a4154f0.js?cc1a0785170cac8d3c98"></script>
    <script src="~/main.1f896bff616e501d0183.js?cc1a0785170cac8d3c98"></script>
}
