@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/style.96b89e7c7b83068aec61.css?388eae5112718c74781a">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/vendor.74e685a5cd1aba951d0e.js?388eae5112718c74781a"></script>
    <script src="~/main.af44f0baf182456ea59a.js?388eae5112718c74781a"></script>
}
