@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.a6859f5447c18172d813.css?7bc66d1f74e2f6fea79f">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.584d115ceaf2f0e28503.js?7bc66d1f74e2f6fea79f"></script>
    <script src="~/dist/main.7b5b1b443c05c28b22f9.js?7bc66d1f74e2f6fea79f"></script>
}
