@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/dist/style.c612f61570dc653d7a23.css?9a72fa004994ca8ab4ef">
}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/dist/vendor.74e685a5cd1aba951d0e.js?9a72fa004994ca8ab4ef"></script>
    <script src="~/dist/main.d241aaaf17ab528646f2.js?9a72fa004994ca8ab4ef"></script>
}
