@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/style.9eeba86c304bf4dc2e7d.css?a419536a7db2745d4e3b">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/vendor.71b3b645b62e3a4154f0.js?a419536a7db2745d4e3b"></script>
    <script src="~/main.e8a8402b2811a0f34ea4.js?a419536a7db2745d4e3b"></script>
}
