@{
    ViewData["Title"] = "Home Page";
}

@section styles {
    <link rel="stylesheet" href="~/style.42e55d0a676645c87b70.css?299bd817f95269220aab">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

}
<div id="app-root">Something awesome is coming...</div>

@section scripts {
    <script src="~/vendor.71b3b645b62e3a4154f0.js?299bd817f95269220aab"></script>
    <script src="~/main.df138309c109c72202e5.js?299bd817f95269220aab"></script>
}
