$font-primary: 'Roboto', sans-serif;
$font-size: 1em;
$primary: #3061aa;
$primary-dark: #00387a;
$primary-light: #678edc;
$secondary: white;
$secondary-dark: white;
$secondary-light: white;
$background: #d7e9f8;
$surface: #F5F5F6;
$link: rgb(116, 12, 12);
$on-primary: #FFF;
$on-secondary: #000;
$on-background: #000;
$on-surface: #000;
$on-error: #000;
$navigation-span: 160px;
$media-width-large: 1260px;
$media-width-small: 690px;
