@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import './_variables';
@import './_nav';

* {
    margin: 0 0;
}

html, body {
    height: 100%;
    min-width: 375px;
}

html {
    font-family: $font-primary;
    font-size: 16px;
    background: $background url('images/cloud-background.png') fixed;
    color: $primary;
}

.logo {
    width: 120px;
    height: 49px;
    border: 0;
    padding: 5px;
    vertical-align: middle;
}

header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    height: 6vh;
}

header span {
    padding: 5px 10px 5px 5px;
}

.content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
    width: 80%;
    margin: 0 auto;
}

article {
    margin: 0 auto;
    padding: 10px 10px;
}

article h1 {
    padding-bottom: 10px;
}

section {
    text-align: justify;
    max-width: 70%;
    border: 1px solid $primary-dark;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba($primary-dark, 0.2), 0 6px 20px 0 rgba($primary-dark, 0.19);
    background: $surface;
}

.link-article {
    display: block;
    text-align: right;
}

a {
    text-decoration: none;
    color: $link;
}
select {
    background: white;
    padding: 5px;
}

footer {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
}

@media screen and (max-width: 660px) {

    header {
        padding-bottom: 30px;
    }

    article {
        padding-top: 30px;
    }

    article h1 {
        font-size: 1.2em;
    }

    section {
        max-width: 100%;
    }    
}
