.blog-article {
  margin: 0 auto;
  width: 80%;
  flex-direction: column;
}

article .article-content {
  text-align: justify;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba($primary-dark, 0.2), 0 2px 2px 0 rgba($primary-dark, 0.19);
  background: $surface;
}

article header,
article .article-links,
.blog-article {
  display: flex;
}

.article-links {
  flex-direction: row-reverse;
}

.article-links a {
  margin-left: 10px;
}

.blog-article textarea {
  margin: 10px 0;
}

.btn-article {
  width: 100px;
  margin-left: auto;
}

a.btn-article {
  text-align: right;
}

.link-article {
  margin-left: 10px;
}

article header span {
  margin-left: auto;
}

@media screen and (max-width: $media-width-small) {
  article {
    padding-top: 30px;
  }

  article header {
    font-size: 1.2em;
  }
}
