section article h1,
section article div,
section div a {
  margin: 0 auto;
  max-width: 80%;
}

article h1 {
  padding-bottom: 10px;
  text-align: left;
}

article div {
  text-align: justify;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba($primary-dark, 0.2), 0 2px 2px 0 rgba($primary-dark, 0.19);
  background: $surface;
}

.link-article {
  display: block;
  text-align: right;
}

@media screen and (max-width: $media-width-large) {
  article h1,
  article div {
    margin: 0 auto;
    max-width: 80%;
  }
}

@media screen and (max-width: $media-width-small) {
  article {
    padding-top: 30px;
  }

  article h1 {
    font-size: 1.2em;
  }
}
