code, pre {
	color: #ccc;
	background: #2d2d2d;
	font-family: Monaco, monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1;
	overflow: auto;

	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	border-radius: 2px;
	padding: 5px;
}

.bash {
	display: block;
	font: normal .9em/22px Monaco, monospace !important;
  color: #0F0;
  background-color: #2d2d2d;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAWCAYAAAD0OH0aAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4wkPDwUVEoHmOAAAARxJREFUOMvlkr1KxFAQhc/cm3RJ8BWURWwUJH91ChtBxMpiKxt9A0EsfA1LOyHCio1oFWyEyA0RRBuLrVeLkBhwEXLHamXJ+oeFCE41zAx858wM8OeC2oUsyzrMfK+1XgyC4LrdFz8mJEliOI6zzcwbADoAXgA8aq27QRBcjOaMUWLb9g4z7zLzel3X51EUDd8jGGP5EoBb3/dPPpP05oGI7gDMZ1m28i0PeZ5PNU1zAGAVwBUR7VdVddiWNrFWpdQcEW0y8xaAB6312vh66SN0mqbTUspLAE+e581+eYcwDPsAzgDMxHEsJwhKqSMAx1LKU8uynouiWBBC9IjoxnXd5QkCM/cB7DVNMyjLciiEiAH0TNPs/u4v/ct4BefNcSeWhwhpAAAAAElFTkSuQmCC');
  background-size: 12px 22px;
  background-repeat: repeat-y;
  padding: 0 16px;
}
