$primary: #3061aa;
$primary-dark: #00387a;
$primary-light: #678edc;
$secondary: white;
$secondary-dark: white;
$secondary-light: white;
$background: #d7e9f8;
$surface: #f5f5f6;
$link: rgb(116, 12, 12);
$on-primary: #fff;
$on-secondary: #000;
$on-background: #000;
$on-surface: #000;
$on-error: #000;
$section: #707070;
$navigation-span: 160px;
$media-width-xlarge: 1580px;
$media-width-large: 1260px;
$media-width-medium: 775px;
$media-width-small: 700px;
$media-width-xsmall: 560px;
$font-size: 16px;
$font-size-big: 20px;
$print-font-size: 12px;
$print-font-size-big: 14px;
